form {
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    font-size: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
}

button {
    display: inline-block;
   margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #2575fc;
    /* Azul sólido */
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    background-color: #0661ff;
}

/* Estilo do link "Voltar" */
a.back-button {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
    color: #fff;
    background-color: #2575fc;
    /* Azul sólido */
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.button-att {
    color: #fff;
    background-color: #28a745;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 15px;
}

.button-att:hover {
    background-color: #218838;
    color: #fff;
}

a.back-button:hover {
    background-color: #0661ff;
    /* Azul sólido */
}

select {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}


#club_id {
    padding: 7px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form .form-group {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

input::placeholder {
    font-size: 15px;
    color: #888;
}

.button-login {
    color: #fff;
    background-color: #3EA745;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    margin-top: 25px;
    text-decoration: none;
}

.button-login:hover {
    background-color: hsl(124, 46%, 30%);
    color: #fff;
}

form .form-group input {
    width: 100%;
}

.content {
    flex-grow: 1;
    /* Garante que a área de conteúdo expanda o suficiente */
    display: block;
}