table {
    width: 100%;
    margin: 30px 30px;
    border-collapse: collapse;
    background-color: #f4f4f4;
    display: block;
    font-size: 15px;
}

table,
th,
td {
    box-sizing: border-box;
    /* Incluir bordas e preenchimento nas dimensões da célula */
}

.linha--cab {
    text-align: center;
}

table th:first-child,
table td:first-child {
    width: 40px;
    text-align: center;
}

table th:nth-child(n+3),
table td:nth-child(n+3) {
    text-align: center;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 300px;
}

/* Tabela clubes*/

.fixed-width-club {

    th:nth-child(3),
    td:nth-child(3) {
        width: 200px;
    }
}

.fixed-width-club {

    th:nth-child(4),
    td:nth-child(4) {
        width: 100px;
    }
}

/* Tabela players*/

.fixed-width-player th,
.fixed-width-player td {
    text-align: left;
    /* Alinha o texto ao centro */
    /* padding: 0.5rem; Adiciona uma pequena margem/padding ao texto nas células  */


}

.fixed-width-player {

    th:nth-child(3),
    td:nth-child(3) {
        width: 200px;
    }
}

.fixed-width-player {

    th:nth-child(4),
    td:nth-child(4) {
        width: 50px;
    }
}

.fixed-width-player {

    th:nth-child(5),
    td:nth-child(5) {
        width: 150px;
    }
}

.fixed-width-player {

    th:nth-child(6),
    td:nth-child(6) {
        width: 80px;
    }
}

.fixed-width-player {

    th:nth-child(7),
    td:nth-child(7) {
        width: 300px;
    }
}

.fixed-width-player {

    th:nth-child(8),
    td:nth-child(8) {
        width: 100px;
    }
}

.fixed-width-ex {

    th:nth-child(5),
    td:nth-child(5) {
        width: auto;
    }
}

/* Tabela ranking*/


.fixed-width-ranking {

    th:nth-child(2),
    td:nth-child(2) {
        width: 200px;
    }

    th:nth-child(3),
    td:nth-child(3) {
        width: 75px;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 300px;
    }
}

.ranking-container {
    max-height: 350px;
    overflow-y: auto;
    /* Barra de rolagem apenas vertical */
    overflow-x: hidden;
    /* Ocultar barra de rolagem horizontal, se existir */
    margin-bottom: 30px;
    /*width: fit-content;  Ajuste o contêiner para caber na largura do conteúdo da tabela */
}

/* Tabela histórico de partidas*/

.fixed-width-listmatches {

    th:nth-child(3),
    td:nth-child(3) {
        width: 50px;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 200px;
        text-align: center;
    }

    th:nth-child(4),
    td:nth-child(4) {
        width: 200px;
        text-align: center;
    }

    th:nth-child(5),
    td:nth-child(4) {
        width: 150px;
        text-align: center;
    }
}

/* Tabela lisa de usuários*/
.fixed-width-listUsers {

    th:nth-child(3),
    td:nth-child(3) {
        width: 100px;
    }

    th:nth-child(2),
    td:nth-child(2) {
        width: 200px;
    }
}

.matches-container {
    max-height: 350px;
    overflow-y: auto;
    /* Barra de rolagem apenas vertical */
    overflow-x: hidden;
    /* Ocultar barra de rolagem horizontal, se existir */
    /*width: fit-content;  Ajuste o contêiner para caber na largura do conteúdo da tabela */
}

th {
    background-color: #222222;
    color: #fff;
}

th,
td {
    padding: 0px;
    border: 1px solid #ddd;
    text-align: left;
    height: 30px;
    /* Altura da célula */
    line-height: 30px;
}

/* Evitar borda para as células com formulários de ações */
.no-border {
    border: none;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    width: auto;
    /* Ajustar o tamanho do botão ao conteúdo */
    border-radius: 3px;
}

.button-edit {
    background-color: #3e92ccff;
    width: auto;
}

.button-edit:hover {
    background-color: #3e80cc;
}

.button_del {
    background-color: #a04545;
    width: auto;

}

.button_del:hover {
    background-color: #a03333;
}

button:hover {
    background-color: #45a049;
}

a.back-button {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 3px;
    font-size: 16x;
    transition: background-color 0.3s;
}

a.back-button:hover {
    background-color: #555;
}

.p-table {
    padding: 20px 20px;
}