<!-- index.html -->
{% extends 'base.html' %}

{% block title %} Página Inicial {% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<!-- Seção de Cards -->
<div class="homepage-grid">
    {% for noticia in cards_noticias %}
    <a href="{{ url_for('notices.detalhes_noticia', id=noticia.id) }}" class="homepage-card">
        <!-- Imagem -->
        {% if noticia.imagem_url %}

        <div class="image-container">
            <img src="{{ noticia.imagem_url }}" alt="{{ noticia.titulo }}">
            <!-- <img src="{{ url_for('static', filename='assets/10.jpg') }}" alt="Foto"> -->
        </div>
        {% endif %}


        <!-- Título -->
        <div class="text-container">
            <h2>{{ noticia.titulo }}</h2>
        </div>
    </a>
    {% endfor %}
</div>

<section class="notices">
    {% for noticia in notices_noticias %}
        <div class="notices-grade">
            <div class="news-item-content">
                <a href="{{ url_for('notices.detalhes_noticia', id=noticia.id) }}">{{ noticia.titulo }}
            </div>
            <div class="news-item-image">
                {% if noticia.imagem_url %}
                <div class="new-item-image">
                    <img src="{{ noticia.imagem_url }}" alt="{{ noticia.titulo }}">
                </div>
                {% endif %}
            </a>
            </div>
        </div>
    {% endfor %}
</section>


<!-- Seção de Estatísticas -->
<section class="stats-section">
    <div class="stat-item">
        <div class="stat-number">{{ total_jogadores }}</div>
        <div class="stat-label">Jogadores Ativos</div>
    </div>
    <div class="stat-item">
        <div class="stat-number">{{ total_clubes }}</div>
        <div class="stat-label">Clubes ativos</div>
    </div>
    <div class="stat-item">
        <div class="stat-number">{{ total_partidas }}</div>
        <div class="stat-label">Total de Partidas</div>
    </div>
</section>

<section class="interesting-section">
    <h2>Conheça o Projeto</h2>
    <div class="interesting-grid">
        <div class="interesting-item">
            <h3>Sobre o ChessClub</h3>
            <p>Como surgiu o Projeto ChessClub.</p>
        </div>
        <div class="interesting-item">
            <h3>Projeto Xadrez na Escola</h3>
            <p>Um projeto para aprender e se divertir com xadrez.</p>
        </div>
        <div class="interesting-item">
            <h3>Projeto Xadrez Lógico</h3>
            <p>Competições mensais que desafiam e motivam nossos jogadores.</p>
        </div>
    </div>
</section>
{% endblock %}