{% extends 'base.html' %}

{% block title %} Lista de Jogadores {% endblock %}

{% block content %}
<h1>Lista de Jogadores</h1>
<table class="fixed-width-player"> <!--cria uma tabela -->
    <tr> <!-- tr = linha-->
        <th class="linha--cab no-border">Id</th> <!-- th = célula-->
        <th class="linha--cab no-border">Nome</th>
        <th class="linha--cab fixed-width no-border">Data de Nascimento</th>
        <th class="linha--cab fixed-width-player no-border">Sexo</th>
        <th class="linha--cab fixed-width-player no-border">Contato</th>
        <th class="linha--cab fixed-width-player no-border">Rating</th>
        <th class="linha--cab fixed-width-player no-border">Clube</th>
        <th class="linha--cab fixed-width-player no-border"></th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player[0] }}</td>
        <td>{{ player[1] }}</td>
        <td>{{ player[2] }}</td>
        <td>{{ player[3] }}</td>
        <td>{{ player[4] }}</td>
        <td>{{ player[5] }}</td>
        <td>{{ player[6] }}</td>
        <td>
            <a href="{{ url_for('players.edit_player', id=player[0]) }} "><button class="button-edit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil" viewBox="0 0 16 16">
                        <path
                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                    </svg></button></a>
            <form action="{{url_for('players.delete_player', id=player[0])}}" method="POST" style="display:inline;"
                onsubmit="return confirm('Tem certeza de que deseja excluir?');">
                <button class="button_del" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path
                            d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                    </svg>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="button-container">
    <a href="{{ url_for('players.index') }}" class="back-button">Voltar para a página inicial</a>
    <a href="{{ url_for('players.list_players_excluded') }}" class="back-button"> Lista de jogadores excluídos</a>
    <!--link rota add_club-->
</div>
{% endblock %}